.menuContainer {
  position: relative;
}

.navWrapper {
  > *:first-child {
    position: relative;
    transform: translateY(-100%);
  }

  > *:not(:first-child) {
    position: relative;
    transform: translateX(100%);
  }
}
